body, html {
    height:  100%;
    margin:  0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    height: auto;
    min-height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    background-image: url('https://images.pexels.com/photos/39856/play-card-game-poker-poker-chips-39856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
}

h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 6em;
    letter-spacing: 1em;
    text-align: center;
    color: #393e46;
    font-weight: 700;
    position: relative;
    top: 100px;
}

.buttons {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn {
    display: block;
    padding: 1.3rem 2.9rem;
    margin: 0 0.1em 1em 0;
    border: 2px solid #FFFFFF;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    background-color: #222831;
    text-transform: uppercase;

    box-shadow: 4px 26px 83px 0px rgba(0,0,0,0.75);
}

.btn:hover {
    background-color: #141414;
}

@media (max-width: 1366px) {
    h1 {
        letter-spacing: 0.5em;
    }
}

@media (max-width: 650px) {
    h1 {
        letter-spacing: 0.2em;
    }
}