body, html {
    height:  100%;
    margin:  0 auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.wrapper {
    background: url('img/bcg.jpg') center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column  ;
}

h1 {
    margin: 0 -1em 100px 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 6em;
    letter-spacing: 1em;
    text-align: center;
    color: #393e46;
    font-weight: 700;
}

.buttons {
    display: block;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

.btn {
    display: block;
    padding: 1.4em 3.2em;
    margin: 0 0.1em 2em 0;
    border: 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 400;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align: center;
    background-color: #222831;
    text-transform: uppercase;

    box-shadow: 0px 5px 10px rgb(104, 104, 104);
}

.btn:hover {
    background-color: #141414;  
}

@media (max-width: 1366px) {
    h1 {
        letter-spacing: 0.5em;
        margin-right: -0.5em;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 5em;
        letter-spacing: 0.2em;
        margin-right: -0.2em;
    }
}